Source: jyut-dict
Section: utils
Priority: optional
Maintainer: Aaron <hi@aaronhktan.com>
Build-Depends: debhelper (>= 10), qt515base (>=5.15.2-1basyskom4), qt515speech (>=5.15.2-1basyskom1), qt515svg (>=5.15.2-1basyskom1)
Standards-Version: 4.1.2
Homepage: https://github.com/aaronhktan/jyut-dict

Package: jyut-dict
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Search words in Cantonese and Mandarin!
 This application allows you to search for definitions
 of words in Cantonese or Mandarin, from the open-source
 CC-CEDICT and CC-CANTO dictionaries. It accepts
 Simplified Chinese, Traditional Chinese, Jyutping, Pinyin, or
 English as input.
