# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QMake
*.qmake.stash

# Qt Builds
*dist/

# vim
**.swp

# Python environment
*env/

# Python stuff
*.pyc

# Mac stuff
*.DS_Store

# Test files
/test/*

# Screenshot files
**/search/*

# Generated databases
*.db

# Flatpak builds
*.flatpak-builder/
*jyut-dict-flatpak/

# Windows builds
**/installer32/
**/installer64/

# Documentation
**/mac/search_*
**.mp4

# Data files
**/abc_/archive_*
**/abc_/data/*
**/abc_/developer/*
**/aby/archive_*
**/aby/data/*
**/aby/developer/*
**/cantodict/archive_*
**/cantodict/data/*
**/cantodict/developer/*
**/cedict/archive_*
**/cedict/developer/*
**/cfdict-xml/archive_*
**/cfdict-xml/data/*
**/cfdict-xml/developer/*
**/cross_straits/archive_*
**/cross_straits/data/*
**/cross_straits/developer/*
**/cuhk/archive_*
**/cuhk/data/*
**/cuhk/developer/*
**/gzzj/archive_*
**/gzzj/data/*
**/gzzj/developer/*
**/hsk3/archive_*
**/hsk3/data/*
**/hsk3/developer/*
**/kaifangcidian/archive_*
**/kaifangcidian/data/*
**/kaifangcidian/developer/*
**/moedict/archive_*
**/moedict/data/*
**/moedict/developer/*
**/tatoeba/archive_*
**/tatoeba/data/*
**/tatoeba/developer/*
**/two_shores_three_places/archive_*
**/two_shores_three_places/data/*
**/two_shores_three_places/developer/*
**/unihan/archive_*
**/unihan/data/*
**/unihan/developer/*
**/wiki/archive_*
**/wiki/data/*
**/wiki/developer/*
**/wiktionary/archive_*
**/wiktionary/data/*
**/wiktionary/developer/*
**/words_hk/archive_*
**/words_hk/data/*
**/words_hk/developer/*
**/words_hk/selenium/*
