docs/* -linguist-documentation

src/jyut-dict/platform/linux/deb/debian/jyutdict.cron.d.ex -linguist-detectable
src/jyut-dict/platform/linux/deb/debian/jyutdict.doc-base.EX -linguist-detectable
src/jyut-dict/platform/linux/deb/debian/manpage.xml.ex -linguist-detectable
src/jyut-dict/platform/linux/deb/debian/menu.ex -linguist-detectable
src/jyut-dict/platform/linux/deb/debian/watch.ex -linguist-detectable
