# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QMake
*.qmake.stash

# Qt Builds
*dist/

# vim
**.swp

# Python environment
*env/

# Mac stuff
*.DS_Store

# Test files
/test/*

# Generated databases
**/cedict_to_sqlite/*.db
*.db

# Data files
**/cedict_to_sqlite/archive_*
**/cedict_to_sqlite/developer/*
**/kaifangcidian_to_sqlite/archive_*
**/kaifangcidian_to_sqlite/data/*
**/kaifangcidian_to_sqlite/developer/*
**/tatoeba_to_sqlite/archive_*
**/tatoeba_to_sqlite/data/*
**/tatoeba_to_sqlite/developer/*
**/words_hk_to_sqlite/data/*
**/words_hk_to_sqlite/selenium/*

# Screenshot files
docs/screenshots/mac/search/*

# Flatpak builds
*.flatpak-builder/
*jyut-dict-flatpak/
