# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QMake
*.qmake.stash

# Qt Builds
*dist/

# vim
**.swp

# Python environment
*env/

# Python stuff
*.pyc

# Mac stuff
*.DS_Store

# Test files
/test/*

# Generated databases
**/cedict_to_sqlite/*.db
*.db

# Data files
**/cantodict/archive_*
**/cantodict/data/*
**/cantodict/developer/*
**/cedict/archive_*
**/cedict/developer/*
**/kaifangcidian/archive_*
**/kaifangcidian/data/*
**/kaifangcidian/developer/*
**/tatoeba/archive_*
**/tatoeba/data/*
**/tatoeba/developer/*
**/words_hk/archive_*
**/words_hk/data/*
**/words_hk/developer/*
**/words_hk/selenium/*
