Package: jyutdict
Version: 0.19.0614-1
Architecture: amd64
Maintainer: Aaron <hi@aaronhktan.com>
Installed-Size: 30749
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libqt5core5a (>= 5.9.0), libqt5gui5 (>= 5.9.0), libqt5network5 (>= 5.9.0), libqt5sql5 (>= 5.9.0), libqt5widgets5 (>= 5.9.0), libstdc++6 (>= 5.2)
Section: utils
Priority: optional
Homepage: https://github.com/aaronhktan/jyut-dict
Description: Search words in Cantonese and Mandarin!
 This application allows you to search for definitions
 of words in Cantonese or Mandarin, from the open-source
 CC-CEDICT and CC-CANTO dictionaries. It accepts
 Simplified Chinese, Traditional Chinese, Jyutping, Pinyin, or
 English as input.
