[Desktop Entry]
Version=0.19.0614
Type=Application
Name=Jyut Dictionary
GenericName=Cantonese Dictionary
Comment=Look up definitions for words in Cantonese or Mandarin
Exec=/usr/bin/jyut-dict
Terminal=false
Icon=/usr/share/icons/hicolor/scalable/apps/jyut-dict.svg
Keywords=Jyut;Dictionary;Cantonese;Mandarin;Chinese;Words;
Categories=Dictionary;Office;TextTools;Education;Utility
StartupNotify=true
