[Desktop Entry]
Type=Application
Name=Jyut Dictionary
Name[fr]=Dictionnaire Jyut
Name[zh_CN]=粤语字典
Name[zh_TW]=粵語字典
Name[zh_HK]=粵語字典
GenericName=Cantonese Dictionary
Comment=Look up definitions for words in Cantonese or Mandarin
Comment[fr]=Cherchez des mots en cantonais ou en mandarin
Comment[zh_CN]=搜索粤语字的定义
Comment[zh_TW]=搜索粵語字的定義
Comment[zh_HK]=揾粤语字嘅定義
Exec=/usr/bin/jyut-dict
Terminal=false
Icon=/usr/share/icons/hicolor/scalable/apps/jyut-dict.svg
Keywords=Jyut;Dictionary;Cantonese;Mandarin;Chinese;Words;
Categories=Dictionary;Office;TextTools;Education;Utility
StartupNotify=true
